:global{
  .error{
    height: 100%;
    position: relative;
    img{
      position: fixed;
      top: 50vh;
      right: 50vw;
      width: 20vw;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .error-message{
      position: fixed;
      top: 50vh;
      left: 60vw;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      .error-title{
        font-size: 50px;
        font-weight: 600;
        min-height: 50px;
        line-height: 50px;
      }
      .error-text{
        font-size: 14px;
        line-height: 40px;
        min-height: 40px;
      }
    }
  }
}
