:global{
  .travel-standard-value-rule{
    .multi-select {
      .ant-select-selection--multiple .ant-select-selection__rendered ul {
        display: block;
      }
      .ant-select-selection__rendered {
        min-height: 30px;
      }
    }
    .add-rule-btn {
      text-align: center;
      border: 1px dashed #d9d9d9;
      cursor: pointer;
    }
    .add-rule-btn:hover {
      border: 1px solid #40a9ff;
    }
  }
}
