:global{
  .company-left{
    position: relative;
    width: 360px;
    height: calc(100vh - 130px) ;
    overflow-y: auto;
    float: left;
    .city-list-checkAll{
      padding: 8px 0 8px 10px;
    }
    .city-checked{
      padding: 8px 0 8px 10px;
      background-color: #e6f7ff;
      .ant-checkbox-wrapper{
        color: #1890ff;
      }
    }
    .city-not-checked{
      padding: 8px 0 8px 10px;
      &:hover{
        background-color: #e6f7ff;
        .ant-checkbox-wrapper{
          color: #1890ff;
        }
      }
    }
    .ant-checkbox+span, .ant-checkbox-wrapper+span{
      padding-left: 8px;
      padding-right: 8px;
      display: block;
      float: right;
      width: 309px;
      height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }
  }
  .company-right{
    height: calc(100vh - 130px);
    border-left: solid 1px #eeeeee;
    overflow: auto;
    padding: 10px;
    margin-left: 400px;
  }
}
