:global{
  a{
    color: black;
    font-size: 16px;
  }
  .footer-button{
    width: 350px;
    height: 100px;
    margin: 100px 330px;
    .btn{
      margin:0px 20px;
      // padding: 0 40px;
      border-radius: 8px;
    }
  }
}
