:global{
  .new-update-voucher-template{
    overflow-x:hidden;
    .header-tips-li{
      color: #ffcc00;
    }
    .header-tips-content{
      color: #666666;
    }
    .voucher-template-form{
      margin-top: 25px;
    }
  }
}
