:global{
  .search-billing-detail{
    height: auto;
    padding-bottom: 50px;
    .legal-checkbox{
      padding-bottom: 10px;
      border-bottom: 1px solid #333333;
      .search-title{
        font-size: 20px;
        font-weight: 700;
        color: #333333;
        line-height: 50px;
      }
      .legal-entity-row{
        font-size: 14px;
        color: #333333;
        height: 30px;
        line-height: 30px;
        .invoice-counts-num{
          color: #108EE9;
          font-size: 18px;
        }
        .invoice-counts-base{
          color: #FF9D29;
          font-size: 18px;
          margin: 0 5px;
        }
        .radioStyle{
          display: block;
        }
      }
    }
  }
}
