:global{
  .new-agency {
    .principal-item {
      width: 400px;
      .principal-explain {
        color: #999;
        margin-left: 5px;
      }
    }
    .save-btn {
      margin-right: 10px;
    }
  }

}
