:global{
  .jd-request-edit {
    .ant-form-item {
      margin: 10px 0;
    }
    .table-header {
      margin-bottom: 10px;
      .order-num {
        margin-right: 10px;
      }
    }
    .amount-info {
      margin: 10px 0 60px;
      .ant-row {
        line-height: 27px;
      }
      .amount-title, .amount {
        float: right;
      }
      .amount {
        text-align: right;
      }
      .total {
        color: #ff9900;
        margin: 5px 0 10px;
        &.amount {
          font-size: 22px;
        }
        &.amount-title {
          line-height: 27px;
        }
      }
    }
    
    .product-img {
      max-width: 54px;
      max-height: 54px;
      margin-right: 10px;
    }
  }
}
