:global{
  .jd-request-detail {
    .tabs-info {
      background: white;
      padding: 20px 20px 0 20px;
      margin: -40px -20px 0 -20px;
    }
    .top-info {
      position: relative;
      .ant-alert-error {
        margin-bottom: 10px;
      }
      .row-container {
        line-height: 30px;
        .top-info-name {
          font-size: 18px;
          font-weight: bolder;
        }
        .detail-info {
          color: #989898;
          margin-left: 20px;
        }
        .detail-info-first {
          margin-left: 0;
        }
        .top-info-btn {
          position: absolute;
          right: 0;
        }
        .amount {
          font-size: 24px;
          margin-top: 10px;
        }
      }
    }
    .approvals {
      min-height: 180px;
      margin-top: 10px;
      .ant-timeline-item-head {
        left: 2px;
      }
      .ant-timeline-item-tail {
        left: 6px;
      }
      .ant-timeline-item-head-custom {
        left: 7px;
        font-weight: bolder;
      }
    }
    .detail-tabs {
      margin: 0 -20px -20px;
      .ant-tabs-bar {
        background: #fff;
        border-bottom: 1px solid #fff;
        padding-left: 20px;
      }
      .ant-tabs-tabpane .tab-container {
        width: calc(100% - 40px) !important;
        margin: 5px 20px 60px;
        background: #fff;
        box-shadow: 0 0 5px 1px #cecece;
        padding: 20px;
        &.top-tab-container {
          margin-bottom: 20px;
        }
        .sub-header-title {
          font-size: 18px;
          border-bottom: 1px solid #ececec;
          margin: -20px -20px 20px;
          padding: 20px 20px 10px;
          .edit {
            font-size: 15px;
            margin-left: 15px;
          }
        }
        .ant-divider {
          background: rgba(0,0,0,0.3);
        }
        .table-header {
          margin-bottom: 10px;
          .order-num {
            margin-right: 10px;
          }
        }
        .amount-info {
          margin-top: 10px;
          .ant-row {
            line-height: 27px;
          }
          .amount-title, .amount {
            float: right;
          }
          .amount {
            text-align: right;
          }
          .total {
            color: #ff9900;
            margin: 5px 0 10px;
            &.amount {
              font-size: 22px;
            }
            &.amount-title {
              line-height: 27px;
            }
          }
        }
        .product-img {
          max-width: 54px;
          max-height: 54px;
          margin-right: 10px;
        }
      }
    }
  }
}
