:global{
  .company-level-status{
    display: inline-block;
    .ant-form-item-control-wrapper{
      display: inline-block;
    }
  }
  .company-level-modal{
    margin: 20px 0;
    .company-level-text{
      margin: 10px 0;
    }
    .company-level-text-switch{
      display: inline-block;
    }
    .company-level-switch{
      display: inline-block;
    }
  }
  
}