:global{
  .create-invoice {
    width: 100%;
    padding: 20px 40px;
    .invoice-info {
      height: 20px;
      line-height: 20px;
      text-align: right;
      color: #108ee9;
      cursor: pointer;
    }
  }
  
}