.my-account{
  height: 100%;
  .operate-area{
    margin-bottom: 20px;
  }
  .expanded-row{
    font-size: 12px;
    .warning-expanded-row{
      color: #2e6cf2;
    }
    .error-expand-row{
      color: #CB5091;
    }
    .expanded-title{
      font-weight: 500;
    }
  }
}
