:global{
.create-update-modal{
  .ant-modal-body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .role-list-from-footer{
    margin-top: 20px;
    border-top: solid 1px gainsboro;
    text-align: right;
    padding-top: 10px;
    Button{
      margin-right: 20px;
    }
  }
}
.org-roles-list{

}
}
