:global{
  .org-new-dep{
  .new-lp-row-wrap{
    margin-bottom: 10px;
    .new-lp-row{
      line-height: 32px;
      font-size: 14px;
      color: #333;
      .new-lp-row-re{
        color: red;
      }
    }
  }
 }
 .new-lp-row-re{
        color: red;
  }
}
