:global{
  .accounting-elements{
    .accounting-elements-header-tips{
      margin-top: 25px;
      border: 1px solid #ffE58f;
      border-radius: 3px;
      padding-left: 12px;
      background: #FFFBE6;
      height: 30px ;
      line-height:30px;
      overflow:hidden;
      margin-bottom: 15px;
    }
    .table-header{
      .table-header-buttons{
        .table-header-search{
          float: right;
        }
      }
    }
  }
}
