:global{
  .new-update-accounting-elements{
    .accounting-elements-form{
      margin-top: 30px;
      .accounting-link-tips{
        margin-left: 185px;
        position: relative;
        top: -25px;
      }
    }

  }
}
