:global{
  .new-update-subject-matching{
    .section-structure-header{
      border: 1px solid #ffE58f;
      border-radius: 3px;
      padding-left: 15px;
      background: #FFFBE6;
      height: 30px ;
      line-height:30px;
      overflow:hidden;
      margin-bottom: 15px;
    }
    .subject-matching-title{
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .subject-matching-tips{
      height: 40px;
      border: 1px solid #bae7ff;
      line-height: 40px;
      padding-left: 15px;
      background: #e6f7ff;
      border-radius: 4px;
      margin-bottom: 20px;
    }
  }
}
