:global{
  .subject-matching-setting{
    //overflow:hidden;
    .accounting-subject-setting-tips{
      border: 1px solid #ffE58f;
      margin-top:10px;
      border-radius: 3px;
      padding-left: 15px;
      background: #FFFBE6;
      height: 30px ;
      line-height:30px;
      overflow:hidden;
    }
  }
}
