:global{
  #root .gl-work-order-detail .ant-tabs-tabpane{
    border: none;
  }
  #root .gl-work-order-detail .ant-tabs-bar{
    border: none;
    margin-left: 10px;
  }
  .gl-work-order-detail {
    .top-info {
      background: white;
      padding: 20px 20px 0 20px;
      margin: -40px -20px 0 -20px;
      .header-title .ant-btn {
        float: right;
      }
      .amount-title, .status-title {
        font-size: 14px;
        text-align: right;
      }
      .amount-content, .status-content {
        font-size: 24px;
        color: #333;
      }
    }
    .detail-tabs {
      margin: 0 -20px -20px;
      .ant-tabs-bar {
        background: #fff;
        border-bottom: 1px solid #fff;
        padding-top: 20px;
      }
      .ant-tabs-tabpane .tab-container {
        width: calc(100% - 40px) !important;
        margin: 5px 20px 100px;
        background: #fff;
        box-shadow: 0 0 5px 1px #cecece;
        padding: 20px;
        .sub-header-title {
          font-size: 18px;
          border-bottom: 1px solid #ececec;
          margin: -20px -20px 20px;
          padding: 10px 20px;
          .edit {
            font-size: 15px;
            margin-left: 15px;
          }
        }
      }
    }
    .list-info {
      font-size: 14px;
      color: #333;
      margin-bottom: 8px;
      .title {
        display: inline-block;
        min-width: 70px;
      }
      .content {
        color: #666;
      }
    }
    .new-pay-plan {
      margin-top: 30px;
      .label-style {
        color: rgba(0, 0, 0, 0.85);
        &:before {
          display: inline-block;
          margin-right: 4px;
          content: "*";
          font-family: SimSun;
          line-height: 1;
          font-size: 12px;
          color: #f04134;
        }
      }
    }
  }
  .row-background-color{
    background-color: pink;
}
.tab-container{

  margin: 20px 0;
  background: #fff;
  box-shadow: 0 0 5px 1px #cecece;
  padding: 20px;
  
  .search-number{
    float: right;
  }
  .redText {
    color: red;
  }
  .ant-divider-horizontal {
    margin: 10px 0;
  }

  tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
    background: #fff;
  }

  .sub-header-title {
    font-size: 18px;
    border-bottom: 1px solid #ececec;
  }
}

}
