:global{
  .new-update-bank-account{
    .new-update-bank-account-formItem1{
      padding-left: 9px;
    }
    .bank-account-tips{
      margin-left: 160px
    }
    .form-footer-button{
      margin-top: 80px;
      margin-left: 200px;
    }
  }
}


