:global{
  .new-update-supplier{
    .new-update-supplier-basic{
      margin: 15px;
      .basic-icon{
        width: 2px;
        height: 15px;
        display:inline-block;
        border: 1px solid #108ee9;
      }
      .basic-title{
        margin-left: 5px;
        display:inline-block;
      }
      .basic-content{
        margin-top: 20px;
      }
    }
    .new-update-supplier-other{
      margin: 15px;
      .other-icon{
        width: 2px;
        height: 15px;
        display:inline-block;
        border: 1px solid #108ee9;
      }
      .other-title{
        margin-left: 5px;
        display:inline-block;
      }
      .other-content{
        margin-top: 20px;
      }
    }
    .form-footer-button{
      margin-left: 220px;
    }
  }
}
