:global{
  .auto-audit-rule{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    ::-webkit-scrollbar{
      display:none;
    }
    .auto-rule-content{
      -webkit-transition: transform .5s;
      -moz-transition: transform .5s;
      -ms-transition: transform .5s;
      -o-transition: transform .5s;
      transition: transform .5s;
      overflow-x: hidden;
      -ms-overflow-x: hidden;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      height: calc(100vh - 130px);
      .auto-audit-company-title{
        height: 40px;
        background-color: #f8f8f8;
        color: #666666;
        line-height: 40px;
        font-size: 14px;
        padding-left: -15px;
        margin:0px -15px;
        font-weight: 500;
        span{
          margin-left: 15px;
        }
      }
      .auto-audit-company-operate{
        margin: 20px 0px;
        font-size: 14px;
        font-weight: normal;
        color: rgba(0,0,0,0.85);
        .auto-audit-company-number{
          margin: 0px 3px;
          font-size: 16px;
          color: #108EE9;
        }
      }
    }
  }
}
