:global{
  .budget-control-rules-detail{
    .common-top-area{
      .common-top-area-title{
        .title-edit{
          text-align: left;
          font-family:PingFangSC-Regular;
          font-size:13px;
          color:#049dbc;
          margin-left: 15px;
        }
      }
    }
  }
}
