:global {
  .new-contract {
    &.background-transparent {
      margin-top: -35px;
      margin-bottom: 40px;
    }
    .card-container {
      margin-bottom: 20px;
    }
    .base-info {
      line-height: 32px;
    }
  }
}