:global{
  .budget-journal-detail{
    .budget-journal-cent{
      .table-header-buttons{
        .delete{
          margin-left: 26px;
        }
      }
      margin-bottom: 160px;
    }
    .footer-operate{
      height: 64px;
      line-height: 64px;
      background-color: #ffffff;
      Button{
        margin-left:5px;
      }
      .delete{
        margin-left: 26px;
      }
    }
  }
}

