:global{
  .form-design-form-list{
    .condition-rule-icon-tips{
      background: #e7f3fc;
      border: solid 1px #c2e4fd;
      padding: 6px 15px 6px 15px;
      border-radius: 2px;
      margin-bottom: 10px;
      .tips-text{
        padding-left: 10px;
      }
    }

    .node-container {
      float: left;
      .node-image {
        width: 65px;
        height: 65px;
      }
      .right-arrow {
        margin: 0 20px;
      }
      .node-remark {
        width: 65px;
        text-align: center;
        word-wrap: break-word;
      }
      .approval-block {
        background-color: #2DD1CE;
        color: #fff;
        height: 65px;
        width: 65px;
        line-height: 65px;
        border-radius: 3px;
        text-align: center;
        font-size: 16px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

  }
}













