:global{
  .overall-sub-list {
    .employee-loan-info {
      margin-bottom: 10px;
      line-height: 25px;
      .employee-info {
        color: #999;
        margin-left: 20px;
      }
      .loan-amount {
        margin-right: 50px;
      }
      .color-999 {
        color: #999;
      }
    }
    .back-icon {
      margin: 0 5px 20px 0;
    }
  }
}
