:global{
    .add-rule-form{
        .rule-form-item .ant-form-item{
         margin-bottom: 0px!important
        }
        .rule-form-name .ant-form-item{
          margin-bottom: 10px!important
        }
        .rule-form-name .ant-divider-horizontal{
            margin-bottom: 10px!important
        }
    }
    .rule-ant-card .ant-card-head .ant-tabs{
        margin-bottom: 0px!important;
        background: #f7f7f7!important   
    }
    .tree-select {
        .left-title-w1{
            display:inline-block;
            width:80%
        }
        .left-title-w2{
            display:inline-block;
            width:95%
        }
        .right-tree-title{
            display:inline-block;
            width:15%
        }
    }
    .tree-select .ant-tree-node-content-wrapper{
        display: inline!important ;
    }
}