:global{
    .add-rule-form{
        .rule-form-item .ant-form-item{
             margin-bottom: 0px!important
        }
        .rule-form-name .ant-form-item{
            margin-bottom: 10px!important
        }
        .rule-form-name .ant-divider-horizontal{
            margin-bottom: 10px!important
        }
   
        .rule-form-title .input_title:focus{
            outline: none;
            border-bottom:1px solid #bfbfbf;
            border-color:none;
            box-shadow: none;
            border-right:none
        
        }
        
        .rule-form-title .input_title:hover{
            // border-bottom:1px solid #bfbfbf;
            border-right: none
        }
        .rule-form-title .input_title{
            outline: none;
            outline: none;
            width: 170px;
            height: 30px;
            line-height: 30px;
            text-indent: 10px;
            font-size: 14px;
            border-color:#bfbfbf;
            border-style: solid;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 1px;
            border-left-width: 0px;
            border-radius: 0px;
            display: inline-block;
            margin: 0 auto;
            background: none
        }
        .rule-form-title:before {
            display: inline-block;
            margin-right: 4px;
            content: "*";
            font-family: SimSun;
            line-height: 1;
            font-size: 14px;
            color: #f5222d;
            position: absolute;
            bottom:10px
        }
        .rule-form-title .rule-item-name{
            margin-bottom: 0px!important
        }    
    }
    .rule-ant-card .ant-card-head .ant-tabs{
        margin-bottom: 0px!important;
    }
    .tree-select {
        .ant-tree-title{
            .left-title-w1{
                display:inline-block;
                width:40%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 25% 
            }
            .left-title-w2{
                display:inline-block;
                width:50%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .right-tree-title{
                display:inline-block;
                width:30%;
                overflow: hidden;
                text-align: right
            }
        }
        
    }
    .tree-select .ant-tree-node-content-wrapper{
        display: inline-block!important ;
        width: 85%
    }
    .treeStyle{
        .ant-tree{
            font-size: 13px!important
        }
        .listStyle1{
            margin-top: 5px;
            font-size:13px;
            height: 24px;
            line-height: 24px;
            cursor: pointer;
        }
        .listStyle1:hover{
            background: #caeff3
        }
    }
    .new-payment-method .language-input-d-wrap{
        width: 80%!important
    }
}