:global{
  .org-search-list{
    height: 460px;
    margin-top: 10px;
    overflow: auto;
    border-radius: 4px;
    border: solid 1px #EEEEEE;
    padding-left: 10px;
    .clear{
      clear: both;
    }
    .list-person{
      .list-person-title{
        line-height: 24px;
        font-size: 14px;
        color: #999999;
      }

      .list-person-wrap{
        .no-person{
          line-height: 28px;
          font-size: 14px;
          color: #666;
          .anticon{
            padding-right: 6px;
          }
        }
        .re-person-item,
        .re-person-item-active{
          cursor: pointer;
          border-radius: 2px;
          overflow: hidden;
          .type-icon{
            float: left;
            padding-right: 10px;
            line-height: 28px;
            margin-left: 10px;
            width: 26px;
          }
          .name{
            float: left;
            line-height: 28px;
            width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .re-person-item-active{
          background: gainsboro;
        }
        .re-person-item-disabled{
          .type-icon{
            float: left;
            padding-right: 10px;
            line-height: 28px;
            margin-left: 10px;
            width: 26px;
            color: rgba(0, 0, 0, 0.25);
          }
          .name{
            float: left;
            line-height: 28px;
            width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba(0, 0, 0, 0.25);
          }
        }
        .re-person-item:hover{
          background: gainsboro;
        }
      }
    }


    .list-dep{
      .list-dep-title{
        line-height: 24px;
        font-size: 14px;
        color: #999999;
      }
      .list-dep-wrap{
        .no-dep{
          line-height: 28px;
          font-size: 14px;
          color: #666;
          .anticon{
            padding-right: 6px;
          }
        }
        .re-dep-item,
        .re-dep-item-active{
          cursor: pointer;
          border-radius: 2px;
          overflow: hidden;
          .type-icon{
            float: left;
            padding-right: 10px;
            line-height: 28px;
            margin-left: 10px;
            width: 26px;
          }
          .name{
            float: left;
            line-height: 28px;
            width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .re-dep-item-active{
          background: gainsboro;
        }
        .re-dep-item-disabled{
          background: darkgrey;
          .type-icon{
            float: left;
            padding-right: 10px;
            line-height: 28px;
            margin-left: 10px;
            width: 26px;
          }
          .name{
            float: left;
            line-height: 28px;
            width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .re-dep-item:hover{
          background: gainsboro;
        }

      }
    }
  }
}
