.component {
  .ant-card-body {
    padding: 2px;
  }
}

:global {
  .component-bottom-bar {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 220px;
    right: -10px;
  }
  .component {
    .ant-card-body {
      padding: 4px;
      height: calc(~'100vh - 150px');
      overflow: auto;
      .ant-card-body {
        height: auto;
      }
    }
    // .ant-card-head-title {
    //   padding: 12px 0;
    // }
    .ant-card-extra {
      padding: 12.5px;
    }
    margin-bottom: 60px;
  }
  .component {
    .attr {
      .attr-box {
        .ant-card-body {
          padding: 12px 24px;
          height: calc(~'((100vh - 208px) / 2) - 60px');
          overflow: auto;
        }
      }
      .event-box {
        .ant-card-body {
          padding: 12px 24px;
          height: calc(~'((100vh - 208px) / 2) + 60px');
          overflow: auto;
        }
      }
    }
  }
}
